<launch>
  <!-- Configurable parameters -->
  <param name="device_index" value="5"/>
  <param name="sample_rate" value="48000"/>
  <param name="channels" value="1"/>

  <!-- Start mic node -->
  <node name="mic_node" pkg="mic_to_whisper" type="mic_node.py" output="screen"/>
  <!-- Start Whisper node -->
  <node name="whisper_node" pkg="mic_to_whisper" type="whisper_node.py" output="screen" />

</launch>
